resources/xmls/phone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="phones" type="phonesType"/>
  <xs:complexType name="numberType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="order" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="phoneType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Alias Fox"/>
            <xs:enumeration value="Megan Report"/>
            <xs:enumeration value="Oliver Twist"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="numberType" name="number"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phonesType">
    <xs:sequence>
      <xs:element type="phoneType" name="phone" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>